
/* paramètres de base */
:root {
    --couleur-fond: #261C14;
    --couleur-text-light: #D9C6B0;
    --couleur-text-dark: #402F20;
    --death-font: 'death-note';
    --other-font: 'gloria';
    font-size: 18px;
    
}
@font-face {
    font-family: 'death-note';
    src: url("./src/death-note-font.ttf");
}
@font-face {
    font-family: 'gloria';
    src: url("./src/GloriaHallelujah-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--couleur-fond);
    font-family: var(--death-font);
    color: var(--couleur-text-light);
}
h1 {
    text-align: center;
    padding: 1rem;
}

/* Placement des box contenant le death note et le pong */
.main {
    display: flex;
    justify-content: space-between;
    margin: 8em 1em 0 1em;
}

/* Dessin des yeux de Ryuk */
.eyes {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 300px;
    position: absolute;
    z-index: -1;
    left: 50vh;
}

.eyes-left {
    border-radius: 100%;
    position: absolute;
    left: 0;
    width: .3px;
    height: .3px;
    background-color: red;
    /* box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000; */
    animation: eyes 5s linear infinite;
}
.eyes-right {
    border-radius: 100%;
    position: absolute;
    right: 0;
    width: .3px;
    height: .3px;
    background-color: red;
    /* box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000; */
    animation: eyes 5s linear infinite;
}
@keyframes eyes {
    0% {
        box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000;
    }
    50%{
        box-shadow: 0px 0px 44px 50px #CE0202, 0px 0px 44px 50px #CE7215, 0px 0px 44px 50px #CEBB11, 0px 0px 44px 50px #E2E312, 0px 0px 44px 50px #E2E312;
    }
    100%{
        box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000;
    }
}

/* Mise en page de la partie death note */
.header-death-note {
    padding: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-death-note > h2 {
    padding: .3em;
}
.firstname-form {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 1.3rem;
    margin-bottom: 2em;
}
.timer, .score {
    letter-spacing: 4px;
}
.firstname-input{
    margin-left: .5em;
    background-color: rgb(166, 147, 124, .5);
    color: var(--couleur-text-light);
    border-radius: 12px;
    height: 2rem;
}
.firstname-input::placeholder {
    color: var(--couleur-text-light);
    padding: .4em;
    font-size: 1rem;
    font-family: var(--death-font);
}

/* style de la liste de morts */
.death-list {
    padding: 1.3em;
    color: var(--couleur-text-dark);
    background: url("./src/posters-vide-vieux-fond-de-papier-parchemin-vintage.jpg.jpg");
    height: 50vh;
    width: 90%;
    border-radius: 10px;
}
.death-person {
    display: flex;
    height: 50vh;
    flex-flow: column wrap;
    margin-top: 1em;
}
.dead {
    font-family: var(--other-font);
    font-size: 1.2rem;
    color: var(--couleur-text-dark);
}
.death-person li {
    list-style: none;
}
.death-note {
    width: 45%;
    height: 80vh;
    background-color: rgb(75, 75, 75);
}
.death-pong {
    width: 45%;
    height: 80vh;
    background-color: rgb(100, 100, 100);
}