
/* paramètres de base */
:root {
    --couleur-fond: #261C14;
    /* --couleur-text-light: #d9c6b0; */
    --couleur-text-light: #f3eee8;
    --couleur-text-dark: #402F20;
    --death-font: 'death-note';
    --other-font: 'gloria';
    font-size: 18px;
    
}
@font-face {
    font-family: 'death-note';
    src: url("./src/death-note-font.ttf");
}
@font-face {
    font-family: 'gloria';
    src: url("./src/GloriaHallelujah-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--death-font);
    color: var(--couleur-text-light);
    /* background-color: var(--couleur-fond); */
    background-color: black;
    background-image: url("https://img1.goodfon.com/original/1920x1080/b/25/leather-black-dark-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.8em;
    max-width: auto;
    margin: auto;
}
h1 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1em;
}
.header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin-top: 1em; */
}

/* Placement des box contenant le death note et le pong */
.main {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

/* Dessin des yeux de Ryuk */
.eyes {
    display: flex;
    justify-content: space-around;

    /* margin: auto; */
    width: 100vw;
    height: 300px;
    position: absolute;
    z-index: -1;
    left: 0vh;
    top: 20vh;
}

.eyes-left {
    border-radius: 100%;
    position: absolute;
    left: 65vh;
    width: .3px;
    height: .3px;
    background-color: red;
    /* box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000; */
    animation: eyes 5s linear infinite;
}
.eyes-right {
    border-radius: 100%;
    position: absolute;
    right: 70vh;
    width: .3px;
    height: .3px;
    background-color: red;
    /* box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000; */
    animation: eyes 5s linear infinite;
}
@keyframes eyes {
    0% {
        box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000;
    }
    50%{
        box-shadow: 0px 0px 44px 50px #CE0202, 0px 0px 44px 50px #CE7215, 0px 0px 44px 50px #CEBB11, 0px 0px 44px 50px #E2E312, 0px 0px 44px 50px #E2E312;
    }
    100%{
        box-shadow: 4px -4px 15px 0px #FF1F1F, 0px 0px 44px 50px #FF0000;
    }
}

/* Mise en page de la partie death note */
.header-death-note {
    padding: .7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-death-note > h2 {
    padding: .3em;
}
.firstname-form {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 2em;
}
.timer, .score {
    letter-spacing: 4px;
}
.firstname-submit{
    padding: 0.5em;
    font-size: medium;
    font-weight: 500;
}
.firstname-input{
    margin-left: .5em;
    background-color: rgb(166, 147, 124, .5);
    color: var(--couleur-text-light);
    border-radius: 12px;
    height: 2rem;
}
.firstname-input::placeholder {
    color: var(--couleur-text-light);
    padding: .4em;
    font-size: 1rem;
    font-family: var(--death-font);
}
.firstname-submit {
    border-radius: 70%;
    background-color: rgba(199, 17, 53, 0.753);
    height: 40px;
    width: 40px;
    border: none;
    font-size: .5em;
    font-family: var(--death-font);
}
.firstname-submit:hover {
    cursor: pointer;
}

/* style de la liste de morts */
.death-list {
    padding: 1.3em;
    color: var(--couleur-text-dark);
    background: url("./src/posters-vide-vieux-fond-de-papier-parchemin-vintage.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 90%;
    border-radius: 20px;
    margin: auto;
}
.death-person {
    display: flex;
    height: 50vh;
    flex-flow: column wrap;
    margin-top: 1em;
}
.dead {
    font-family: var(--other-font);
    font-size: 1.2rem;
    color: var(--couleur-text-dark);
}
.death-person li {
    list-style: none;
}
.death-note {
    width: 40%;
    /* max-width: 45%; */
    /* height: 32em; */
    background-color: rgb(75, 75, 75);
    border-radius: 20px;
    padding-bottom: 1em;
}
.death-pong {
    display: flex;
    /* width: 40%; */
    /* height: 32em; */
    /* background-color: rgb(100, 100, 100); */
    background-color: none;
    border-radius: 20px;
    align-items: center;
}

/* css du canvas */
.pong-container {
    display: flex;
    /* justify-content: space-around; */
}

#myCanvas {
    /* background-color: whitesmoke; */
    background-image: url("https://i.redd.it/hwh4e802o1m41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}



/* page d'intro */
.intro {
    text-indent: 1em;
    font-size: large;
    display: flex;
    letter-spacing: 4px;
    width: 50%;
    /* height: 40em; */
    flex-direction: column;
    justify-content: space-around;
}
.intro ol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18em;
    margin: 1em;
}

.credit {
    text-align:center;
}
.credit ul{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50em;

}

.header-page {
    display: flex;
    justify-content: start;
    font-size: medium;
    color: var(--couleur-text-light);
}
.header-page a {
    margin: 1em;
}